{% load static %}


<table class = "abuntable">
    <tr><td data-tag="0"> None (0) </td>  <td data-tag="1"> Minor (1) </td>  <td data-tag="2"> Few (2) </td> <td data-tag="3"> Common (3) </td> <td data-tag="4"> Frequent (4) </td> <td data-tag="5"> Major (5) </td> <td data-tag="6"> Very Dominant (6) </td> </tr>
    <tr><td data-tag="0"> 0% </td>  <td data-tag="1"> 0-5% </td>  <td data-tag="2"> 5-15% </td> <td data-tag="3"> 15-30 % </td> <td data-tag="4"> 30-50% </td> <td data-tag="5"> 50-70% </td> <td data-tag="6"> 70-100% </td> </tr>

</table>  
