{% load static %}
<header>
 
  <nav>
    <img src="{% static "images/KudenLogo.jpg" %}" alt="vimipo_logo" height="100"> &emsp; &emsp; &emsp;
    <a href="{% url "home" %}">Home</a> &emsp; &emsp; &emsp;
    {% comment %} <a href="{% url "index" 0 %}">All Fabrics</a> &emsp; &emsp; &emsp;
    <a href="{% url "search" %}">Fabric Search</a> &emsp; &emsp; &emsp;
    <a href="{% url "site-index" %}">Sites</a> &emsp; &emsp; &emsp;
    <a href="{% url "period-index" %}">Wares</a> &emsp; &emsp; &emsp; {% endcomment %}
    <a href="{% url "glossary" %}">Glossary</a>
  </nav>
</header>
