{% extends "base.html" %}
{% load static %}

{% block css_files %}
  <link rel="stylesheet" href="{% static "fabrics/fabric.css" %}">
  <link rel="stylesheet" href="{% static "fabrics/header.css" %}">
{% endblock %}

{% block page_title %}
  Fabric Index
{% endblock %}

{% block content %}
  {% include "fabrics/includes/header.html" %}
    <h2>No matching fabrics found.</h2>
    <p>Try tweaking the mineral abundances and/or searching all regions. </p>
  {% include "fabrics/includes/footer.html" %}
{% endblock %}
