{% extends "base.html" %} 
{% load static %}

{% block css_files %}
  <link rel="stylesheet" href="{% static "fabrics2/fabric.css" %}">
  <link rel="stylesheet" href="{% static "fabrics2/fabrics.css" %}">
  <link rel="stylesheet" href="{% static "fabrics2/abuntable.css" %}">
  <link rel="stylesheet" href="{% static "fabrics2/header.css" %}">
  <link rel="stylesheet" href="{% static "fabrics2/leaflet.css" %}">
  <script src="{% static "fabrics2/leaflet.js"%}"></script>
  <script src="{% static "fabrics2/map.js" %}"></script>
{% endblock %}

{% block page_title %} Ceramic Ware Details {% endblock %}
{% block content %} {% include "fabrics2/includes/header.html" %}

<h1>{{ period.name }} ({{period.time_start}}-{{period.time_end}} BP)</h1>

<h2> Wikidata ID: <a href="https://www.wikidata.org/wiki/{{ period.wikidata }}" target="_blank">{{ period.wikidata }}</a> </h2>
<p> {{period.comments}}</p>

<br>
{% if period.image_name %}
 <figure><img src={{period.image_name}} alt="vessel examples" height:"50"> 

<figcaption> Example vessels/sherds. {{period.image_attribution}} <a class="caplink" href="{{period.image_link}}" target="_blank">Available here.</a> 
      </figcaption>
    </figure>
<br>
{% endif %}
{% if period.parent %}
<h2>Parent ware: </h2>
<p><a href="{% url "period" period.parent.slug %}">{{period.parent}}</a>  </p>
{% endif %}
{% if children %}
<br>
<h2>Child wares/s:</h2>
  {% for child in children %}
<p><a href="{% url "period" child.slug %}">{{child}}</a> </p>
  {% endfor %}
{% endif %}

{% if wikisites %}
 <br>
  <h2>Located in:</h2>
  {% for wikis in wikisites %}
<p><a href="{% url "wikisite-type" wikis.slug %}">{{wikis.desc}}</a>  Wikidata ID: <a href="https://www.wikidata.org/wiki/{{ wikis.name }}" target="_blank">{{ wikis.name }}</a> </p>
  {% endfor %}
{% endif%} 
 

 {% if externallinks %}
 <br>
  <h2>Examples in collections (and other external links):</h2>
  {% for ex in externallinks %}
<p><a href="{{ex.first}}{{ex.last}}" target="_blank">{{ex.org}}</a> </p>
  {% endfor %}
{% endif%} 

<div class ="after-map">
  <br>

  {% if fabrics %}
    {% include "fabrics2/includes/abuntable.html" %}
<h2>Fabrics: </h2>

<br>
<table class = "fabrictable">
  <th>Name </th> <th>Cal.</th> <th>Quartz</th><th>Feldspar</th> <th>Pyroxene</th> <th>Amphibole</th> 
  <th>Opaques</th> <th>Olivine</th><th>Biotite</th> <th>Muscovite</th> <th>Epidote</th> 
  <th>Garnet/ Spinel</th><th>Ig./Met. Rocks</th> <th>Sed. Rocks</th> <th>Grog</th>  <th>Lithics/ Region</th>
  {% for fabric in fabrics %}
     <tr>
        <td><a href="{% url "fabric-type" fabric.slug %}">{{ fabric.slug }}</a></td>
        <td data-tag="{{fabric.calcareous_max}}"> {{fabric.calcareous_max}}</td>
        <td data-tag="{{fabric.quartz_max}}"> {{fabric.quartz_max}}</td>
        <td data-tag="{{fabric.feldspar_max}}">{{fabric.feldspar_max}}</td>
        <td data-tag="{{fabric.pyroxene_max}}">{{fabric.pyroxene_max}}</td>
        <td data-tag="{{fabric.amphibole_max}}">{{fabric.amphibole_max}}</td>
        <td data-tag="{{fabric.opaque_max}}"> {{fabric.opaque_max}}</td>
        <td data-tag="{{fabric.olivine_max}}"> {{fabric.olivine_max}}</td>
        <td data-tag="{{fabric.biotite_max}}">{{fabric.biotite_max}}</td>
        <td data-tag="{{fabric.muscovite_max}}">{{fabric.muscovite_max}}</td>
        <td data-tag="{{fabric.epidote_max}}">{{fabric.epidote_max}}</td>
        <td data-tag="{{fabric.garnet_max}}"> {{fabric.garnet_max}}</td>
        <td data-tag="{{fabric.igneous_rock_fragments_max}}">{{fabric.igneous_rock_fragments_max}}</td>
        <td data-tag="{{fabric.sedimentary_metasedimentary_max}}">{{fabric.sedimentary_metasedimentary_max}}</td>
        <td data-tag="{{fabric.grog_max}}">{{fabric.grog_max}}</td>
        <td> {{fabric.lithics}}</td>
        </tr>
        <tr>
          <td>{{ fabric.desc }}</a></td>
          <td data-tag="{{fabric.calcareous_min}}"> {{fabric.calcareous_min}}</td>
          <td data-tag="{{fabric.quartz_min}}"> {{fabric.quartz_min}}</td>
          <td data-tag="{{fabric.feldspar_min}}">{{fabric.feldspar_min}}</td>
          <td data-tag="{{fabric.pyroxene_min}}">{{fabric.pyroxene_min}}</td>
          <td data-tag="{{fabric.amphibole_min}}">{{fabric.amphibole_min}}</td>
          <td data-tag="{{fabric.opaque_min}}"> {{fabric.opaque_min}}</td>
          <td data-tag="{{fabric.olivine_min}}"> {{fabric.olivine_min}}</td>
          <td data-tag="{{fabric.biotite_min}}">{{fabric.biotite_min}}</td>
          <td data-tag="{{fabric.muscovite_min}}">{{fabric.muscovite_min}}</td>
          <td data-tag="{{fabric.epidote_min}}">{{fabric.epidote_min}}</td>
          <td data-tag="{{fabric.garnet_min}}"> {{fabric.garnet_min}}</td>
          <td data-tag="{{fabric.igneous_rock_fragments_min}}">{{fabric.igneous_rock_fragments_min}}</td>
          <td data-tag="{{fabric.sedimentary_metasedimentary_min}}">{{fabric.sedimentary_metasedimentary_min}}</td>
          <td data-tag="{{fabric.grog_min}}">{{fabric.grog_min}}</td>
          <td> {{fabric.region}}</td>
          </tr>
  {% endfor %}
</table>
</div> 
{% endif%}  
{% if slides %}
<h2>Slides: </h2>

  <table class = "slidetable">
    <th>Slide </th> <th>Fabric</th> <th>Possible Origin</th><th>Ware</th><th>Cal.</th> <th>Quartz</th><th>Feldspar</th> <th>Pyroxene</th> <th>Amphibole</th> 
    <th>Opaques</th> <th>Olivine</th><th>Biotite</th> <th>Muscovite</th> <th>Epidote</th> 
    <th>Garnet/ Spinel</th> <th>Ig./Met. Rocks</th> <th>Sed. Rocks</th> <th>Grog</th>  <th>Lithics</th>
 
  {% for slide in slides %}
    <tr>
    <td><a href="{% url "slide-type" slide.slug %}">{{slide.name}}</a></td>
    <td>{{slide.fabric }}</td>
    <td>{{slide.sherd_origin_site}}</td>
    <td>{{slide.ceramic_period }}</td>
    <td data-tag="{{slide.calcareous}}"> {{slide.calcareous}}</td>
    <td data-tag="{{slide.quartz}}"> {{slide.quartz}}</td>
    <td data-tag="{{slide.feldspar}}">{{slide.feldspar}}</td>
    <td data-tag="{{slide.pyroxene}}">{{slide.pyroxene}}</td>
    <td data-tag="{{slide.amphibole}}">{{slide.amphibole}}</td>
    <td data-tag="{{slide.opaque}}"> {{slide.opaque}}</td>
    <td data-tag="{{slide.olivine}}"> {{slide.olivine}}</td>
    <td data-tag="{{slide.biotite}}">{{slide.biotite}}</td>
    <td data-tag="{{slide.muscovite}}">{{slide.muscovite}}</td>
    <td data-tag="{{slide.epidote}}">{{slide.epidote}}</td>
    <td data-tag="{{slide.garnet}}"> {{slide.garnet}}</td>
    <td data-tag="{{slide.igneous_rock_fragments}}">{{slide.igneous_rock_fragments}}</td>
    <td data-tag="{{slide.sedimentary_metasedimentary}}">{{slide.sedimentary_metasedimentary}}</td>
    <td data-tag="{{slide.grog}}">{{slide.grog}}</td>
    <td> {{slide.lithics}}</td>
    </tr> 
  {% endfor %}
  </table>  
  {% for slide in slides %}
    <h3><a href="{% url "slide-type" slide.slug %}">{{slide.name}}</a></h3>
    {% if slide.image_name and slide.full_image_name and slide.full_image_oe_omero_id %}
    <figure><img src="{% static "fabrics2/images/slides/"|add:slide.image_name|add:"_x4_PPL.jpeg" %}" alt={{ slide.image_name }} height:"50">
      <img src="{% static "fabrics2/images/slides/"|add:slide.image_name|add:"_x4_XPL.jpeg" %}" alt= {{ slide.image_name }} height:"50">
      <figcaption> Sherd {{ slide.sherd }} from {{ slide.site }}. Slide {{slide.name }} from {{ slide.source }}. x4 Magnification PPL (left) XPL (right). Scale bar: 0.5mm. <a class="caplink" href="https://kuden.anu.edu.au/webclient/img_detail/{{slide.image_omero_id}}" target="_blank">High resolution image</a> 
       or <a class="caplink" href="https://kuden.anu.edu.au/webclient/img_detail/{{slide.full_image_omero_id}}" target="_blank">full slide in VIMIPO (user: Guest pwd: Guest)</a> with <a class="caplink" href="https://kuden.anu.edu.au/webclient/img_detail/{{slide.full_image_oe_omero_id}}" target="_blank"> higher exposure.</a> Imaged by K. Hardy and M. Leclerc, ANU.
      </figcaption>
    </figure>
    {% elif slide.image_name and slide.full_image_name %}
      <figure><img src="{% static "fabrics2/images/slides/"|add:slide.image_name|add:"_x4_PPL.jpeg" %}" alt={{ slide.image_name }} height:"50">
        <img src="{% static "fabrics2/images/slides/"|add:slide.image_name|add:"_x4_XPL.jpeg" %}" alt= {{ slide.image_name }} height:"50">
        <figcaption> Sherd {{ slide.sherd }} from {{ slide.site }}. Slide {{slide.name }} from {{ slide.source }}. x4 Magnification PPL (left) XPL (right). Scale bar: 0.5mm. <a class="caplink" href="https://kuden.anu.edu.au/webclient/img_detail/{{slide.image_omero_id}}" target="_blank">High resolution image</a> 
         or <a class="caplink" href="https://kuden.anu.edu.au/webclient/img_detail/{{slide.full_image_omero_id}}" target="_blank">full slide in VIMIPO (user: Guest pwd: Guest).</a> Imaged by K. Hardy and M. Leclerc, ANU.
        </figcaption>
      </figure>
    {% elif slide.image_name %}
      <figure><img src="{% static "fabrics2/images/slides/"|add:slide.image_name|add:"_x4_PPL.jpeg" %}" alt={{ slide.image_name }} height:"50">
        <img src="{% static "fabrics2/images/slides/"|add:slide.image_name|add:"_x4_XPL.jpeg" %}" alt= {{ slide.image_name }} height:"50">
        <figcaption> Sherd {{ slide.sherd }} from {{ slide.site }}. Slide {{slide.name }} from {{ slide.source }}. x4 Magnification PPL (left) XPL (right). Scale bar: 0.5mm. <a class="caplink" href="https://kuden.anu.edu.au/webclient/img_detail/{{slide.image_omero_id}}" target="_blank">High resolution image in VIMIPO (user: Guest pwd: Guest).</a> Imaged by K. Hardy and M. Leclerc, ANU.
        </figcaption>
      </figure>
    {% elif slide.full_image_name %}
      <p><a class="caplink" href="https://kuden.anu.edu.au/webclient/img_detail/{{slide.full_image_omero_id}}" target="_blank">{{ slide.sherd }} has a full slide scan available (user: Guest pwd: Guest).</a> Imaged by K. Hardy and M. Leclerc, ANU.</p>
    {% else %}
    <p>No images available.</p>
    {% endif%} 
    <p> {{ slide.desc |capfirst}} </p>
    <br>
  {% endfor %}


{% endif%}  
{% if time_start_ref.fullname  %}
<h2>Reference:</h2>
<h3> <a href="{% url "report-type" period.time_start_ref.slug %}">{{ period.time_start_ref.fullname }}</a> ({{ period.time_start_ref.author_list }}) </h3>
{% endif%} 
{% include "fabrics2/includes/footer.html" %}
{% endblock %}