{% extends "base.html" %} 
{% load static %}

{% block css_files %}
  <link rel="stylesheet" href="{% static "fabrics2/fabric.css" %}">
  <link rel="stylesheet" href="{% static "fabrics2/abuntable.css" %}">
  <link rel="stylesheet" href="{% static "fabrics2/header.css" %}">
{% endblock %}

{% block page_title %} Fabric Details {% endblock %}
{% block content %} {% include "fabrics2/includes/header.html" %}


<h2>{{ report.fullname }}</h2>
<h2>{{ report.author_list }}</h2>
<h2>{{ report.details }}</h2>
<h2>{{ report.link }}</h2>
<h3>{{ report.summary }}</h3>

<h2>Fabrics: </h2>
{% for fabric in report_fabrics %}
<li><a href="{% url "fabric-type" fabric.slug %}">{{ fabric.slug }}</a> {{fabric.desc}} </li>
{% endfor %}
<h2>Sites: </h2>
{% for site in report_sites %}
<li><a href="{% url "site-type" site.slug %}">{{ site }}</a> </li>
{% endfor %}
<h2>Slides: </h2>
{% for slide in report_slides %}
    <h3>{{slide.name }}</h3>
    {% if slide.image_name and slide.full_image_name %}
    <figure><img src="{% static "fabrics2/images/slides/"|add:slide.image_name|add:"_x4_PPL.jpeg" %}" alt={{ slide.image_name }} height:"50">
        <img src="{% static "fabrics2/images/slides/"|add:slide.image_name|add:"_x4_XPL.jpeg" %}" alt= {{ slide.image_name }} height:"50">
        <figcaption> Sherd {{ slide.sherd }} from {{ slide.site }}. Slide {{slide.name }} from {{ slide.source }}. x4 Magnification PPL (left) XPL (right). Scale bar: 0.5mm. <a class="caplink" href="https://kuden.anu.edu.au/webclient/img_detail/{{slide.image_omero_id}}">High resolution image in VIMIPO (user: Guest pwd: Guest).</a> 
        <a class="caplink" href="https://kuden.anu.edu.au/webclient/img_detail/{{slide.full_image_omero_id}}">Full slide in VIMIPO (user: Guest pwd: Guest).</a> Imaged by K. Hardy and M. Leclerc, ANU.
        </figcaption>
     </figure>
     {% elif slide.image_name %}
     <figure><img src="{% static "fabrics2/images/slides/"|add:slide.image_name|add:"_x4_PPL.jpeg" %}" alt={{ slide.image_name }} height:"50">
         <img src="{% static "fabrics2/images/slides/"|add:slide.image_name|add:"_x4_XPL.jpeg" %}" alt= {{ slide.image_name }} height:"50">
         <figcaption> Sherd {{ slide.sherd }} from {{ slide.site }}. Slide {{slide.name }} from {{ slide.source }}. x4 Magnification PPL (left) XPL (right). Scale bar: 0.5mm. <a class="caplink" href="https://kuden.anu.edu.au/webclient/img_detail/{{slide.image_omero_id}}">High resolution image in VIMIPO (user: Guest pwd: Guest).</a> Imaged by K. Hardy and M. Leclerc, ANU.
         </figcaption>
      </figure>
    {% elif slide.full_image_name %}
    <p><a class="caplink" href="https://kuden.anu.edu.au/webclient/img_detail/{{slide.full_image_omero_id}}">{{ slide.sherd }} has a full slide scan available (user: Guest pwd: Guest).</a> Imaged by K. Hardy and M. Leclerc, ANU.</p>
    {% else %}
     <p>No images available.</p>
    {% endif%}
{% endfor %}


{% include "fabrics2/includes/footer.html" %}
{% endblock %}